<!doctype html>
<html>
<head>
<title>Geen invoer</title>
<style>
.text-block {
    position:absolute;
    font-weight: bold;
    font-size: 1em;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #842e93;
    padding: 1em;
    margin: 0;
}

.button {
    min-width: 8em;
    height: 2em;
    line-height: 2em;
    color: white;
    font-weight: bold;
    border: 1px solid #842e93;
    border-radius: 5px;
    background-color: #945b96;
    cursor: pointer;
    text-align: center;
}
</style>
</head>
<body>
<div  class="text-block">
    <h2>Geen wijk of coordinaten gekozen.</h2>
    <div>
        <button class="button" onclick="goBack()">Terug</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script> 
</div>    
</body>
<html>